@model ViewModel

<div class="container">
    <h1 class="display-4 text-center">Check out everyones progress!</h1>
    <p class="fs-5 mb-5 text-center">
        Click <a href="/posts/new">here</a> to create a post
    </p>
    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var post in Model.allPosts) {
        <div class="card col-sm-12 col-lg-5 me-3 mb-3">
            <div id="carousel_@post.PostId" class="carousel"
                data-bs-interval="false">
                <div class="carousel-inner">
                    @{bool firstActive = true;} @foreach (var file in
                    post.FileUploadList) { if(firstActive){
                    <div class="carousel-item active">
                        <img
                            src="data:@file.FileType;base64,@Convert.ToBase64String(file.FileData)"
                            class="d-block w-100 card-img-top" alt="@file.FileName" />
                    </div>
                    firstActive = false; }else{
                    <div class="carousel-item">
                        <img
                            src="data:@file.FileType;base64,@Convert.ToBase64String(file.FileData)"
                            class="d-block w-100 card-img-top" alt="@file.FileName" />
                    </div>
                    } }
                </div>
                <button class="carousel-control-prev " type="button"
                    data-bs-target="#carousel_@post.PostId"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                    data-bs-target="#carousel_@post.PostId"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            @* Card body starts *@
            <div class="card-body d-flex flex-column justify-content-end">
                <h5 class="card-title fs-4 fw-bold">@post.Title</h5>
                <p class="card-text">@post.PostContent</p>
                <p class="fst-italic">
                    Posted by: @post.MessageAuthor.UserName
                </p>
                @{string modalId = "modal" + post.PostId;} @* modal trigger *@
                <div>
                    <button type="button" class="btn btn-secondary d-flex"
                        data-bs-toggle="modal"
                        data-bs-target="#@modalId">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor"
                            class="bi bi-chat-heart-fill" viewBox="0 0 16 16">
                            <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8
                                3.134-8
                                7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771
                                2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938
                                4.18-1.234A9.06 9.06 0 0 0 8 15Zm0-9.007c1.664-1.711
                                5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"
                                />
                            </svg>
                        </button>
                </div>

                    @* Modal *@
                    <div class="modal fade" id="@modalId" tabindex="-1"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        id="exampleModalLabel">
                                        Comments (@post.CommentList.Count)
                                    </h5>
                                    <button type="button" class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row d-flex
                                        justify-content-center">
                                        <div class="col-12">
                                            <div class="card shadow-0 border"
                                                style="background-color:
                                                dark">
                                                <div class="card-body p-4">
                                                    <form id="submit-button"
                                                        asp-action="Comment"
                                                        asp-controller="Post"
                                                        method="Post"
                                                        asp-route-postId="@post.PostId"
                                                        class="form-outline
                                                        mb-4">
                                                        <input
                                                            asp-for="comment.Content"
                                                            class="form-control"
                                                            placeholder="Add a comment..." />
                                                        <span
                                                            asp-validation-for="comment.Content"
                                                            class="text-danger"></span>
                                                        <button class="btn
                                                            btn-primary btn-sm
                                                            mt-2 rounded-pill">
                                                            Comment
                                                        </button>
                                                    </form>

                                                    @foreach (var comment in
                                                    post.CommentList){
                                                    <div class="card mb-4">
                                                        <div class="card-body">
                                                            <p>
                                                                @comment.Content
                                                            </p>

                                                            <div class="d-flex
                                                                justify-content-between">
                                                                <div
                                                                    class="d-flex
                                                                    flex-row
                                                                    align-items-center">
                                                                    <p
                                                                        class="small
                                                                        mb-0
                                                                        ms-2
                                                                        fst-italic">
                                                                        -
                                                                        @comment.CommentAuthor.UserName
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @{ if(post.UserId == Context.Session.GetInt32("uid")){
                    <div class="d-flex justify-content-end">
                        <a class="me-2" href="/posts/@post.PostId/edit">Edit</a>
                        <a href="/posts/@post.PostId/delete">Delete</a>
                    </div>
                    } }
                </div>
            </div>
            }
        </div>
    </div>